Aufgabe 1: [15/120 Punkte] Nenne 5 **verschiedene** Anwendungen wo Key-Value-Datenbanken Vorteile gegenüber Relationalen Datenbanken haben, und beschreibe spezifisch (aber dennoch stichwortartig) für jeden Fall, was genau der jeweilige Vorteil ist (und: was potentielle Nachteile sind)

In [ ]:
df=spark.read.csv("supermarket_sales.csv", header=True)
rename_df2 = df.withColumn("Gender", when(df.Gender == "male","m")
                                 .when(df.Gender == "female","f")
                                 .when(df.Gender == "Female","f")
                                 .when(df.Gender == "Male","m")  
                                 .otherwise(df.Gender))
rename_df2.show()

df3_count=rename_df2.groupBy("Gender").count()
df3_count.show()

df=spark.read.csv("supermarket_sales.csv", header=True)

from pyspark.sql.functions import when, col

rename_df2 = df.withColumn("Branch", when(df.Branch == "A","Yangon")
                                 .when(df.Branch == "B","Mandalay")
                                 .when(df.Branch == "C","Naypyitaw") 
                              .otherwise(df.Branch))
rename_df2.show()

sum_gross_income = rename_df2.groupBy("Branch").agg(_sum("Total"))

sum_gross_income.show()

rename_df3 = df.withColumn("Payment", when(df.Payment == "creditcard","Creditcard")
                                 .when(df.Payment == "credit card","Creditcard")
                                 .when(df.Payment == "Credit card","Creditcard") 
                                 .when(df.Payment == "cash","Cash")
                                 .when(df.Payment == "ewallet","Ewallet") 
                              .otherwise(df.Payment))
rename_df3.show()

count_function = rename_df3.groupBy("Payment").count()

count_function.show()

Aufgabe 2: [15/120 Punkte] erkläre was denn nun wirklich die Hauptunterschiede zwischen einem Data Warehouse und einem Data Lake sind und gib Beispiele für Anwendungen in denen entweder ein Data Warehouse oder ein Data Lake die bessere Wahl ist

Aufgabe 3: [15/120 Punkte] im folgenden Code hat sich der Fehlerteufel eingeschlichen. Finde die 5 Fehler (10 Punkte), und beschreibe stichwortartig, was der Code denn tun würde, wenn keine Fehler drin wären. (5 Punkte)

In [ ]:
from bson.son import SON
client = MongoClient("localhost", 27017)
connect = client["database"],["collection"]

pipe2 = [ { '$mismatch' : { 'origin' : 'ATL',
                         'dest' : 'BOS',
                         'dayofweek' : 3
                       }
          },
          { '$group' : { '_id' : { 'origin' : '$origin',
                                   'destination' : '$dest'
                                 },
                         'Failure' : { '$sum' : { '$cond' : [{ '$eq' : ['$cancelled', 1]}, 1, 0 ]} },
                         'Success' : { '$sum' : { '$cond' : [{ '$eq' : ['$cancelled', 0]}, 1, 0 ]} },
                         'Total' : { '$sum' : 1 }
                        }
           },
           { '$project' : { 'Failure' : 1,
                            'Success' : 1,
                            'Total' : 1,
                            'FailPercent' : { '$divide' : [ '$Failure', '$Total' ] }
                          }
           },
           # im SON-Statement ist kein Fehler, das gehoert so 
           { '$sort' : SON([('_id.origin', 1), ('_id.destination', 1 )]) }
         

result = connection.aggregate(pipeline=pipe2)
print(result)

Aufgabe 4: [15/120 Punkte] Erkläre was lazy evaluation ist an Hand von 2 in den Vorlesungen behandelten Technologien/Ansätzen (1 Lazy, eine nicht lazy) - und erläutere, was die Auswirkungen in der Praxis sind.

Aufgabe 5: [40/120 Punkte]
    In Moodle findest Du Super-Markt Daten. Werte diese in Spark aus, und finde heraus:
    
    1) wie viele Einkäufe wurden von Frauen, bzw von Männern getätigt?
    2) wie viel Umsatz wurde an den 3 Standorten jeweils getätigt - gib diesen zusammen mit dem NAMEN des jeweiligen Standorts aus
    3) welche Bezahlart die höchste durchschnittliche User-Satisfaction hat
    
Exportiere die Ergebnisse von Teilaufgabe 3 als CSV-Datei - stelle dabei sicher, dass unabhängig von der Größe des Datensatzes nur 1 einzige CSV-Datei generiert wird.

Beschreibe für jede der Teilaufgaben wie Du die Daten dazu aufbereiten würdest (Stichwort: Designentscheidungen)

In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# Create SparkSession 
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("Supermarkt_sales") \
      .getOrCreate() 
spark

df=spark.read.format("csv").option("header","true").load("supermarket_sales.csv")
df.show()

df2=df.groupBy("Gender").count()
df2.show()

df3 = df.withColumn("Gender", when(df.Gender == "Female", "f")
                              .when(df.Gender == "Male","m")
                              .when(df.Gender == "female", "f")
                              .when(df.Gender == "male", "m")
                              .otherwise(df.Gender))
df4 = df3.groupBy("Gender").count()
df4.show()

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|     Date| Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715| 1/5/2019|13:08|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|     f|Electronic access...|     15.28|       5|   3.82|   80.22| 3/8/2019|10:29|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|     null|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255| 3/3/2019|13:23|credit card|324.31|            4.761904762|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|       Member|  male|   Health and beauty|     58.22|       8|  23288|  489048|1/27/2019|20:33|    Ewallet|465.76|            4.761904762|       23288|   8.4|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785| 2/8/2019|10:37|    ewallet|604.17|            4.761904762|     30.2085|   5.3|
|699-14-3026|     C|Naypyitaw|       Normal|  Male|Electronic access...|     85.39|       7|29.8865|627.6165|3/25/2019|18:30|    Ewallet|597.73|            4.761904762|     29.8865|   4.1|
|355-53-5943|     A|   Yangon|       Member|     f|Electronic access...|     68.84|       6|  20652|  433692|2/25/2019|14:36|    Ewallet|413.04|            4.761904762|       20652|   5.8|
|315-22-5665|     C|     null|       Normal|Female|  Home and lifestyle|     73.56|      10|  36.78|  772.38|2/24/2019|11:38|    Ewallet| 735.6|            4.761904762|       36.78|     8|
|665-32-9167|     A|   Yangon|       Member|     f|   Health and beauty|     36.26|       2|   3626|   76146|1/10/2019|17:15| Creditcard| 72.52|            4.761904762|        3626|   7.2|
|692-92-5582|     B| Mandalay|       Member|Female|  Food and beverages|     54.84|       3|   8226|  172746|2/20/2019|13:27| creditcard|164.52|            4.761904762|        8226|   5.9|
|351-62-0822|     B| Mandalay|       Member|Female| Fashion accessories|     14.48|       4|   2896|   60816| 2/6/2019|18:07|    Ewallet| 57.92|            4.761904762|        2896|   4.5|
|529-56-3974|     B|     null|       Member|     m|Electronic access...|     25.51|       4|   5102|  107142| 3/9/2019|17:03|       cash|102.04|            4.761904762|        5102|   6.8|
|365-64-0515|     A|   Yangon|       Normal|Female|Electronic access...|     46.95|       5|11.7375|246.4875|2/12/2019|10:25|    Ewallet|234.75|            4.761904762|     11.7375|   7.1|
|252-56-2699|     A|     null|       Normal|     m|  Food and beverages|     43.19|      10|  21595|  453495| 2/7/2019|16:48|    Ewallet| 431.9|            4.761904762|       21595|   8.2|
|829-34-3910|     A|   Yangon|       Normal|Female|   Health and beauty|     71.38|      10|  35.69|  749.49|3/29/2019|19:21|       Cash| 713.8|            4.761904762|       35.69|   5.7|
|299-46-1805|     B| Mandalay|       Member|Female|   Sports and travel|     93.72|       6|  28116|  590436|1/15/2019|16:19|       cash|562.32|            4.761904762|       28116|   4.5|
|656-95-9349|     A|   Yangon|       Member|Female|   Health and beauty|     68.93|       7|24.1255|506.6355|3/11/2019|11:03| Creditcard|482.51|            4.761904762|     24.1255|   4.6|
|765-26-6951|     A|     null|       Normal|  Male|   Sports and travel|     72.61|       6|  21783|  457443| 1/1/2019|10:39|Credit card|435.66|            4.761904762|       21783|   6.9|
|329-62-1586|     A|   Yangon|       Normal|     m|  Food and beverages|     54.67|       3| 8.2005|172.2105|1/21/2019|18:00| Creditcard|164.01|            4.761904762|      8.2005|   8.6|
|319-50-3348|     B| Mandalay|       Normal|female|  Home and lifestyle|      40.3|       2|   4.03|   84.63|3/11/2019|15:30|    Ewallet|  80.6|            4.761904762|        4.03|   4.4|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
only showing top 20 rows

+------+-----+
|Gender|count|
+------+-----+
|     m|    4|
|     f|    3|
|Female|  110|
|female|    1|
|  male|    1|
|  Male|  136|
+------+-----+

+------+-----+
|Gender|count|
+------+-----+
|     m|  141|
|     f|  114|
+------+-----+

In [15]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import * 
#from pyspark.sql.functions import when, col
#from pyspark.sql.functions import sum as _sum

# Create SparkSession 
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("Supermarkt_sales") \
      .getOrCreate() 
spark

df_new = spark.read.format("csv").option("header","true").load("supermarket_sales.csv")
df.show()

modified_branch_df = df_new.withColumn("Branch", when(df_new.Branch == "A", "Yangon")
                                                .when(df_new.Branch == "B", "Mandalay")
                                                .when(df_new.Branch == "C", "Naypyitaw")
                                                .otherwise(df_new.Branch))
income_per_city = modified_branch_df.groupBy("Branch").agg(sum("Total").alias("sum_salary"))

income_per_city.show()

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|     Date| Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715| 1/5/2019|13:08|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|     f|Electronic access...|     15.28|       5|   3.82|   80.22| 3/8/2019|10:29|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|     null|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255| 3/3/2019|13:23|credit card|324.31|            4.761904762|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|       Member|  male|   Health and beauty|     58.22|       8|  23288|  489048|1/27/2019|20:33|    Ewallet|465.76|            4.761904762|       23288|   8.4|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785| 2/8/2019|10:37|    ewallet|604.17|            4.761904762|     30.2085|   5.3|
|699-14-3026|     C|Naypyitaw|       Normal|  Male|Electronic access...|     85.39|       7|29.8865|627.6165|3/25/2019|18:30|    Ewallet|597.73|            4.761904762|     29.8865|   4.1|
|355-53-5943|     A|   Yangon|       Member|     f|Electronic access...|     68.84|       6|  20652|  433692|2/25/2019|14:36|    Ewallet|413.04|            4.761904762|       20652|   5.8|
|315-22-5665|     C|     null|       Normal|Female|  Home and lifestyle|     73.56|      10|  36.78|  772.38|2/24/2019|11:38|    Ewallet| 735.6|            4.761904762|       36.78|     8|
|665-32-9167|     A|   Yangon|       Member|     f|   Health and beauty|     36.26|       2|   3626|   76146|1/10/2019|17:15| Creditcard| 72.52|            4.761904762|        3626|   7.2|
|692-92-5582|     B| Mandalay|       Member|Female|  Food and beverages|     54.84|       3|   8226|  172746|2/20/2019|13:27| creditcard|164.52|            4.761904762|        8226|   5.9|
|351-62-0822|     B| Mandalay|       Member|Female| Fashion accessories|     14.48|       4|   2896|   60816| 2/6/2019|18:07|    Ewallet| 57.92|            4.761904762|        2896|   4.5|
|529-56-3974|     B|     null|       Member|     m|Electronic access...|     25.51|       4|   5102|  107142| 3/9/2019|17:03|       cash|102.04|            4.761904762|        5102|   6.8|
|365-64-0515|     A|   Yangon|       Normal|Female|Electronic access...|     46.95|       5|11.7375|246.4875|2/12/2019|10:25|    Ewallet|234.75|            4.761904762|     11.7375|   7.1|
|252-56-2699|     A|     null|       Normal|     m|  Food and beverages|     43.19|      10|  21595|  453495| 2/7/2019|16:48|    Ewallet| 431.9|            4.761904762|       21595|   8.2|
|829-34-3910|     A|   Yangon|       Normal|Female|   Health and beauty|     71.38|      10|  35.69|  749.49|3/29/2019|19:21|       Cash| 713.8|            4.761904762|       35.69|   5.7|
|299-46-1805|     B| Mandalay|       Member|Female|   Sports and travel|     93.72|       6|  28116|  590436|1/15/2019|16:19|       cash|562.32|            4.761904762|       28116|   4.5|
|656-95-9349|     A|   Yangon|       Member|Female|   Health and beauty|     68.93|       7|24.1255|506.6355|3/11/2019|11:03| Creditcard|482.51|            4.761904762|     24.1255|   4.6|
|765-26-6951|     A|     null|       Normal|  Male|   Sports and travel|     72.61|       6|  21783|  457443| 1/1/2019|10:39|Credit card|435.66|            4.761904762|       21783|   6.9|
|329-62-1586|     A|   Yangon|       Normal|     m|  Food and beverages|     54.67|       3| 8.2005|172.2105|1/21/2019|18:00| Creditcard|164.01|            4.761904762|      8.2005|   8.6|
|319-50-3348|     B| Mandalay|       Normal|female|  Home and lifestyle|      40.3|       2|   4.03|   84.63|3/11/2019|15:30|    Ewallet|  80.6|            4.761904762|        4.03|   4.4|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
only showing top 20 rows

+---------+--------------------+
|   Branch|          sum_salary|
+---------+--------------------+
|Naypyitaw|1.6445864925000004E7|
| Mandalay|     2.02011719595E7|
|   Yangon|1.5382536666000003E7|
+---------+--------------------+

In [24]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# Create SparkSession 
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("Supermarkt_sales") \
      .getOrCreate() 
spark

df_new_2=spark.read.csv("supermarket_sales.csv", header=True)




df_modified_table = df_new_2.withColumn("Payment", when(df_new_2.Payment == "creditcard", "Creditcard")
                                                .when(df_new_2.Payment == "credit card", "Creditcard")
                                                .when(df_new_2.Payment == "Credit Card", "Creditcard")
                                                .when(df_new_2.Payment == "cash", "Cash")
                                                .when(df_new_2.Payment == "ewallet", "Ewallet")
                                                .otherwise(df_new_2.Payment))
df_modified_table.show()

bla = df_modified_table.groupBy("Payment").count()
bla.show()

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|     Date| Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715| 1/5/2019|13:08|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|     f|Electronic access...|     15.28|       5|   3.82|   80.22| 3/8/2019|10:29|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|     null|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255| 3/3/2019|13:23| Creditcard|324.31|            4.761904762|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|       Member|  male|   Health and beauty|     58.22|       8|  23288|  489048|1/27/2019|20:33|    Ewallet|465.76|            4.761904762|       23288|   8.4|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785| 2/8/2019|10:37|    Ewallet|604.17|            4.761904762|     30.2085|   5.3|
|699-14-3026|     C|Naypyitaw|       Normal|  Male|Electronic access...|     85.39|       7|29.8865|627.6165|3/25/2019|18:30|    Ewallet|597.73|            4.761904762|     29.8865|   4.1|
|355-53-5943|     A|   Yangon|       Member|     f|Electronic access...|     68.84|       6|  20652|  433692|2/25/2019|14:36|    Ewallet|413.04|            4.761904762|       20652|   5.8|
|315-22-5665|     C|     null|       Normal|Female|  Home and lifestyle|     73.56|      10|  36.78|  772.38|2/24/2019|11:38|    Ewallet| 735.6|            4.761904762|       36.78|     8|
|665-32-9167|     A|   Yangon|       Member|     f|   Health and beauty|     36.26|       2|   3626|   76146|1/10/2019|17:15| Creditcard| 72.52|            4.761904762|        3626|   7.2|
|692-92-5582|     B| Mandalay|       Member|Female|  Food and beverages|     54.84|       3|   8226|  172746|2/20/2019|13:27| Creditcard|164.52|            4.761904762|        8226|   5.9|
|351-62-0822|     B| Mandalay|       Member|Female| Fashion accessories|     14.48|       4|   2896|   60816| 2/6/2019|18:07|    Ewallet| 57.92|            4.761904762|        2896|   4.5|
|529-56-3974|     B|     null|       Member|     m|Electronic access...|     25.51|       4|   5102|  107142| 3/9/2019|17:03|       Cash|102.04|            4.761904762|        5102|   6.8|
|365-64-0515|     A|   Yangon|       Normal|Female|Electronic access...|     46.95|       5|11.7375|246.4875|2/12/2019|10:25|    Ewallet|234.75|            4.761904762|     11.7375|   7.1|
|252-56-2699|     A|     null|       Normal|     m|  Food and beverages|     43.19|      10|  21595|  453495| 2/7/2019|16:48|    Ewallet| 431.9|            4.761904762|       21595|   8.2|
|829-34-3910|     A|   Yangon|       Normal|Female|   Health and beauty|     71.38|      10|  35.69|  749.49|3/29/2019|19:21|       Cash| 713.8|            4.761904762|       35.69|   5.7|
|299-46-1805|     B| Mandalay|       Member|Female|   Sports and travel|     93.72|       6|  28116|  590436|1/15/2019|16:19|       Cash|562.32|            4.761904762|       28116|   4.5|
|656-95-9349|     A|   Yangon|       Member|Female|   Health and beauty|     68.93|       7|24.1255|506.6355|3/11/2019|11:03| Creditcard|482.51|            4.761904762|     24.1255|   4.6|
|765-26-6951|     A|     null|       Normal|  Male|   Sports and travel|     72.61|       6|  21783|  457443| 1/1/2019|10:39|Credit card|435.66|            4.761904762|       21783|   6.9|
|329-62-1586|     A|   Yangon|       Normal|     m|  Food and beverages|     54.67|       3| 8.2005|172.2105|1/21/2019|18:00| Creditcard|164.01|            4.761904762|      8.2005|   8.6|
|319-50-3348|     B| Mandalay|       Normal|female|  Home and lifestyle|      40.3|       2|   4.03|   84.63|3/11/2019|15:30|    Ewallet|  80.6|            4.761904762|        4.03|   4.4|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
only showing top 20 rows

+-----------+-----+
|    Payment|count|
+-----------+-----+
| Creditcard|    5|
|    Ewallet|   90|
|       Cash|   84|
|Credit card|   76|
+-----------+-----+

In [27]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# Create SparkSession 
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("Supermarkt_sales") \
      .getOrCreate() 
spark

df_product = spark.read.csv("supermarket_sales.csv", header=True)

df_rated = df_product.groupBy("Product Line").count()
df_rated.show()

+--------------------+-----+
|        Product Line|count|
+--------------------+-----+
|  Home and lifestyle|   43|
| Fashion accessories|   41|
|   Health and beauty|   44|
|Electronic access...|   40|
|  Food and beverages|   43|
|   Sports and travel|   44|
+--------------------+-----+

Aufgabe 6: [20/60 Punkte] Ein regionales Unternehmen hat ein großes Investment durch eine Venture Capital Firma bekommen, und möchte jetzt international expandieren. 

Euer Auftrag ist es das Unternehmen zum Thema "Datenbanken" (die für die internationale Expansion benötig werden) zu beraten.

Das bisherige Hauptprodukt des Unternehmens sind mit Schokolade überzogene Fruchtgummis. Im Zuge der Expansion möchte das Unternehmen aber auch gleichzeitig neue Produkte einführen, bzw an regionale Geschmäcker anpassen. Dadurch, dass die Expansion überall gleichzeitig erfolgen soll, sind am Anfang wenig Möglichkeiten direkt Kundenumfragen zu machen - statt dessen soll die Resonanz auf Marketingcampagnen und die Interaktion mit der jeweiligen Landeswebseite genutzt werden, um lokale "Geschmäcker" und damit das Potential für weitere Produkte zu erforschen.

Der bisher einzige Vertriebskanal ist eine Online-Präsenz, zumindest anfänglich soll dies auch so bleiben, jedoch mit potentiell separaten Webseiten für verschiedene Länder/Regionen. Hierzu besteht aber noch keine fest definierte Strategie, der Unternehmer würde von Euch auch gerne wissen, was für Möglichkeiten, Vor- und Nachteile, und Risiken verschiedener Ansätze (aus Sicht der Nutzung von Datenbanken) sind.

Erläutere **stichwortartig**:

1) welche Technologien in welchem Bereich eingesetzt werden, und warum
2) was für Strategien, bzw Tools Ihr einsetzen wollt um 
    - die schon vorhandenen Daten zu migrieren
    - neue Daten mit den alten zu verbinden
    - benötigte Daten zu erhalten
3) welche Strategien sich anbieten für das Reporting, die Datenhaltung, Backups etc.
4) was die Auswirkungen verschiedener Expansionsstrategien (z.B. Marketing, Website etc) auf die Nutzung/Nützlichkeit/Performance der Datenbank(en) wäre 
5) Ob es "Bottlenecks" oder mit (hohem) Risiko verbundene Datenbank-Komponenten gibt, und wie man damit in der Praxis umgehen soll

(wirklich nur stichwortartig, keine Romane!)